In [1]:
import numpy as np
import pandas as pd

In [2]:
#批量导入文件
years = range(1880,2011)
pieces = []
columns = ['name','sex','births']

for year in years:
    path = 'C://users//jh//desktop//python//babynames//yob%d.txt'%year 
    frame = pd.read_csv(path,names = columns)
    frame['year'] = year
    pieces.append(frame)

names = pd.concat(pieces, ignore_index = True)
names

              name sex  births  year
0             Mary   F    7065  1880
1             Anna   F    2604  1880
2             Emma   F    2003  1880
3        Elizabeth   F    1939  1880
4           Minnie   F    1746  1880
5         Margaret   F    1578  1880
6              Ida   F    1472  1880
7            Alice   F    1414  1880
8           Bertha   F    1320  1880
9            Sarah   F    1288  1880
10           Annie   F    1258  1880
11           Clara   F    1226  1880
12            Ella   F    1156  1880
13        Florence   F    1063  1880
14            Cora   F    1045  1880
15          Martha   F    1040  1880
16           Laura   F    1012  1880
17          Nellie   F     995  1880
18           Grace   F     982  1880
19          Carrie   F     949  1880
20           Maude   F     859  1880
21           Mabel   F     808  1880
22          Bessie   F     796  1880
23          Jennie   F     793  1880
24        Gertrude   F     787  1880
25           Julia   F     783  1880
26          Hattie   F     769  1880
27           Edith   F     768  1880
28          Mattie   F     704  1880
29            Rose   F     700  1880
...            ...  ..     ...   ...
1692082   Zaybrien   M       5  2010
1692083   Zayshawn   M       5  2010
1692084     Zayyan   M       5  2010
1692085     Zealan   M       5  2010
1692086   Zecharia   M       5  2010
1692087   Zeferino   M       5  2010
1692088   Zekariah   M       5  2010
1692089     Zeriah   M       5  2010
1692090     Zeshan   M       5  2010
1692091     Zhyier   M       5  2010
1692092     Zierre   M       5  2010
1692093   Zildjian   M       5  2010
1692094     Zimere   M       5  2010
1692095       Zinn   M       5  2010
1692096     Zishan   M       5  2010
1692097      Ziven   M       5  2010
1692098      Zmari   M       5  2010
1692099      Zoran   M       5  2010
1692100      Zoren   M       5  2010
1692101     Zuhaib   M       5  2010
1692102     Zyeire   M       5  2010
1692103    Zygmunt   M       5  2010
1692104   Zykerion   M       5  2010
1692105      Zylar   M       5  2010
1692106      Zylin   M       5  2010
1692107    Zymaire   M       5  2010
1692108     Zyonne   M       5  2010
1692109  Zyquarius   M       5  2010
1692110      Zyran   M       5  2010
1692111      Zzyzx   M       5  2010

[1692112 rows x 4 columns]